$color-primary: #c03;
$color-gray: #7c7c7c;
$color-dark: #313131;
$color-grey: #505c68;

body{
    &.tlcgi-transitioning,
    &.tlcgi-child-map-open{
        overflow: hidden;
    }
}

#tlcgi-container{
    background: transparent url(img/loader.gif) no-repeat center center;

    .tlcgi-initialized &{
        background: none;
    }
}

.tlcgi{
    position: relative;
    opacity: 0;
    visibility: hidden;
    z-index: 1;

    .tlcgi-initialized &{
        opacity: 1;
        visibility: visible;
    }

    .tlcgi-title{
        text-align: center;
        margin-top: 0;
        margin-bottom: 0;
    }

    .tlcgi-desc{
        text-align: center;
        margin-bottom: 30px;
    }

    .tlcgi-global-map{
        background: #fff;
        position: relative;
        z-index: 1;
        margin-bottom: 55px;
        overflow: hidden;

        & > .tlcgi-map{
            min-height: 310px;
        }

        .tlcgi-child-map{
            opacity: 0 !important;
            visibility: hidden !important;
        }
    }

    .tlcgi-loaded &{
        .tlcgi-global-map{
            .tlcgi-map{
                background-image: none;
            }
        }
    }
}


.tlcgi-columns{
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;

    &.columns-2 > .tlcgi-column{
        width: 50%;
        padding: 0 15px;
        box-sizing: border-box;
    }
}


.tlcgi-map{
    position: relative;
    z-index: 1;

    .tlcgi-map-inner{
        position: relative;
        z-index: 1;
    }

    svg{
        path{
            &:hover{
                opacity: 0.8;
            }
        }
    }

    .tlcgi-map-pins{
        & > span{
            position: absolute;
            display: block;
            top: 10px;
            left: 0;
            z-index: 20;
            cursor: pointer;
            transform: translate(-50%, -100%);

            &:before{
                content: '';
                display: block;
                width: 0px;
                height: 0px;
                background: transparent url(img/icn-pin.png) no-repeat center top;
                background-size: 99%;
                transition: 0.3s ease all;
            }

            &:hover{
                &:before{
                    width: 30px !important;
                    height: 53px !important;
                }
            }
        }
    }

    .tlcgi-ready &{
        .tlcgi-map-pins{
            & > span{
                &:before{
                    width: 25px;
                    height: 44px;
                }
            }
        }
    }

    .tlcgi-name-tag{
        display: block;
        position: absolute;
        z-index: 50;
        top: 0;
        left: 0;
        background: #dfdfdf;
        border: 1px solid #cdcdcd;
        padding: 5px;
        border-radius: 3px;
        font-size: 12px;
        text-transform: uppercase;
        transform: translateX(-50%);
        display: none;
    }
}


.tlcgi-content{
    color: $color-gray;

    h1, h2, h3, h4, h5, h6{
        color: $color-primary;
        font-weight: 500;
        margin: 0 0 20px 0;
    }

    p{
        font-size: 16px;
        margin: 0 0 15px 0;
        font-weight: 300;
        color: $color-grey;
    }

    ul, ol{
        font-weight: 300;
        color: $color-grey;
        margin-top: 0;
        margin-bottom: 0;
    }

    ul{
        list-style-type: none;
        margin: 0;
        padding: 0;

        li{
            position: relative;
            z-index: 1;
            padding-left: 20px;
            margin-bottom: 15px;

            &:before{
                content: '»';
                color: $color-primary;
                position: absolute;
                top: 0;
                left: 0;
                font-size: 21px;
                line-height: 1;
            }
        }
    }
}


.tlcgi-close{
    padding: 0;
    margin: 0;
    border: 0;
    width: 25px;
    height: 25px;
    border: 1px solid $color-primary;
    color: $color-primary;
    background: #fff;
    border-radius: 50%;
    transition: 0.4s ease all;
    transform: translateY(-50%);
    cursor: pointer;
    display: none;

    &:before{
        content: '-';
        font-size: 20px;
    }

    .is-closed &:before{
        content: '+';
    }

    &:hover{
        color: #fff;
        background-color: $color-primary;
    }
}


.tlcgi-map-palette{
    position: absolute;
    left: 0;
    bottom: 0;
    max-width: 350px;
    z-index: 5;
    background: #fff;
    padding: 20px 15px;
    border: 1px solid #dfdfdf;

    .tlcgi-close{
        position: absolute;
        top: 50%;
        right: -10px;
        z-index: 5;
        line-height: 1;
    }

    ul{
        list-style-type: none;
        margin: 0;
        padding: 0;
        
        li{
            font-size: 13px;
            line-height: 1.5;
            position: relative;
            z-index: 1;
            padding-top: 2px;
            padding-left: 35px;
            margin-bottom: 10px;
            min-height: 25px;

            &:before{
                display: none;
            }

            &:last-child{
                margin-bottom: 0;
            }

            span{
                &:first-child{
                    display: block;
                    width: 25px;
                    height: 25px;
                    background: #dfdfdf;
                    border-radius: 50%;
                    position: absolute;
                    top: 0;
                    left: 0;
                }
            }
        }
    }

    &.is-closed{
        border: none;
        
        ul{
            li{
                margin-bottom: 0;
                padding: 0;
                float: left;
                margin-left: -10px;

                span{
                    &:first-child{
                        margin-left: 0;
                        position: static;
                    }
                    &:last-child{
                        display: none;
                    }
                }
            }
        }
    }
}


.tlcgi-child-map,
.tlcgi-map-modal{
    .tlcgi-map{
        max-width: 980px;
        margin: 0 auto;

        svg{
            width: 100%;
            // max-height: 750px;
        }
    }
}


.tlcgi-child-map{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;

    &#child-map-europe{
        width: 21%;
        top: 17.9%;
        left: 39.6%;
    }

    &#child-map-africa{
        width: 23%;
        left: 40%;
        top: 40%;
    }

    &#child-map-americas{
        width: 46%;
        top: 5%;
        left: 2%;
    }

    &#child-map-asia{
        width: 54%;
        top: 5%;
        left: 39.8%;
    }
}


.tlcgi-map-modal{
    background: #fff;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow-y: auto;
    z-index: 997;
    visibility: hidden;

    .tlcgi-transitioning &{
        overflow-y: hidden;

        .tlcgi-map-modal-title,
        .tlcgi-map-modal-desc,
        .tlcgi-map-modal-side,
        .tlcgi-map-modal-close,
        .tlcgi-map-palette,
        .tlcgi-pin-modals,
        .tlcgi-map-pins{
            display: none;
        }
    }

    .tlcgi-map-modal-close{
        margin: 0;
        border: 0;
        background: none;
        border-radius: 20px;
        padding: 7px 26px;
        font-size: 18px;
        color: $color-dark;
        border: 1px solid $color-dark;
        position: fixed;
        z-index: 999;
        cursor: pointer;
        top: 20px;
        right: 40px;
        transition: 0.4s ease all;

        &:hover{
            color: $color-primary;
            border-color: $color-primary;
            margin-bottom: 10px;
        }
    }

    .tlcgi-map-modal-wrap{
        max-width: 980px;
        margin: 0 auto;
    }

    .tlcgi-map-modal-side{
        .tlcgi-map-modal-side-content{
            padding: 45px 30px;

            h2{
                font-size: 32px;
            }

            ul{
                li{
                    margin-bottom: 25px;
                }
            }
        }
    }

    .tlcgi-map-modal-main{
    }

    .tlcgi-map-modal-title{
        color: $color-primary;
        text-align: center;
        font-size: 2.5rem;
        margin: 35px 0 0;
    }

    .tlcgi-map-modal-desc{
        text-align: center;
    }

    .tlcgi-map{
        
        .tlcgi-map-palette{
            bottom: 10%;
            left: 30px;
            z-index: 25;
        }
    }

    &#map-modal-europe{
        .tlcgi-map{
            .tlcgi-map-palette{
                bottom: auto;
                top: 0;
                left: 0;
            }
        }
    }
}


.tlcgi-pin-modals{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 15px;
    overflow: hidden;
    opacity: 0;
    visibility: hidden;
    z-index: 999;
    box-sizing: border-box;

    &.show{
        opacity: 1;
        visibility: visible;
        z-index: 40;
    }
    
    .tlcgi-pin-modal{
        width: 480px;
        max-width: 100%;
        background: #fff;
        position: absolute;
        top: calc(10% - 50px);
        left: 50%;
        transform: translate(-50%, 0);
        box-shadow: 0px 5px 6px rgba(70, 70, 70, 0.24);
        z-index: 10;
        opacity: 0;
        visibility: hidden;
        transition: 0.4s ease all;
        border: 1px solid #e2e2e2;

        &.active{
            top: 10%;
            opacity: 1;
            visibility: visible;
        }

        .tlcgi-pin-modal-close{
            background: none;
            border: 0;
            padding: 0;
            margin: 0;
            outline: none;
            padding: 5px;
            position: absolute;
            top: 0;
            right: 0;
            width: 40px;
            height: 40px;
            font-size: 25px;
            color: #dfdfdf;
            cursor: pointer;

            &:hover{
                color: $color-primary;
            }
        }

        .tlcgi-pin-modal-head{
            padding: 10px 20px;
            border-bottom: 1px solid #e2e2e2;

            h3{
                font-size: 18px;
                color: $color-dark;
                margin: 0;
            }
        }

        .tlcgi-pin-modal-body{
            padding: 15px 20px;
            max-height: 320px;
            overflow-y: auto;

            .tlcgi-content{
                h4{
                    margin-bottom: 5px;
                }
            }
        }
    }
}





@media screen and (max-width: 991px){
    .tlcgi-columns{
        display: flex;
        flex-wrap: wrap;
        margin-left: -15px;
        margin-right: -15px;
    
        & > .tlcgi-column{
            width: 100% !important;
        }
    }

    .tlcgi-map-modal{
        .tlcgi-map-modal-title{
            font-size: 2rem;
            margin-top: 25px;
            margin-bottom: 10px;
        }

        .tlcgi-map-modal-close{
            padding: 6px 23px;
            font-size: 14px;
            top: 10px;
            right: 20px;
        }
    }

    .tlcgi-pin-modals{
        width: 100%;
    }
}



@media screen and (max-width: 768px){
    .tlcgi{
        .tlcgi-global-map{
            margin-bottom: 25px;
        }
    }

    .tlcgi-map{
        .tlcgi-map-pins{
            & > span{
                &:hover{
                    &:before{
                        width: 25px !important;
                        height: 44px !important;
                    }
                }
            }
        }

        .tlcgi-ready &{
            .tlcgi-map-pins{
                & > span{
                    &:before{
                        width: 17px;
                        height: 30px;
                    }
                }
            }
        }
    }

    .tlcgi-map-palette{
        padding: 15px 15px;
        position: static !important;
        margin: 0 auto;
        transform: none !important;

        ul{
            li{
                padding-top: 0px;
                padding-left: 29px;

                span{
                    &:first-child{
                        width: 20px;
                        height: 20px;
                    }
                }
            }
        }
    }
}