@charset "UTF-8";
body.tlcgi-transitioning, body.tlcgi-child-map-open {
  overflow: hidden;
}

#tlcgi-container {
  background: transparent url(img/loader.gif) no-repeat center center;
}

.tlcgi-initialized #tlcgi-container {
  background: none;
}

.tlcgi {
  position: relative;
  opacity: 0;
  visibility: hidden;
  z-index: 1;
}

.tlcgi-initialized .tlcgi {
  opacity: 1;
  visibility: visible;
}

.tlcgi .tlcgi-title {
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
}

.tlcgi .tlcgi-desc {
  text-align: center;
  margin-bottom: 30px;
}

.tlcgi .tlcgi-global-map {
  background: #fff;
  position: relative;
  z-index: 1;
  margin-bottom: 55px;
  overflow: hidden;
}

.tlcgi .tlcgi-global-map > .tlcgi-map {
  min-height: 310px;
}

.tlcgi .tlcgi-global-map .tlcgi-child-map {
  opacity: 0 !important;
  visibility: hidden !important;
}

.tlcgi-loaded .tlcgi .tlcgi-global-map .tlcgi-map {
  background-image: none;
}

.tlcgi-columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}

.tlcgi-columns.columns-2 > .tlcgi-column {
  width: 50%;
  padding: 0 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.tlcgi-map {
  position: relative;
  z-index: 1;
}

.tlcgi-map .tlcgi-map-inner {
  position: relative;
  z-index: 1;
}

.tlcgi-map svg path:hover {
  opacity: 0.8;
}

.tlcgi-map .tlcgi-map-pins > span {
  position: absolute;
  display: block;
  top: 10px;
  left: 0;
  z-index: 20;
  cursor: pointer;
  -webkit-transform: translate(-50%, -100%);
          transform: translate(-50%, -100%);
}

.tlcgi-map .tlcgi-map-pins > span:before {
  content: '';
  display: block;
  width: 0px;
  height: 0px;
  background: transparent url(img/icn-pin.png) no-repeat center top;
  background-size: 99%;
  -webkit-transition: 0.3s ease all;
  transition: 0.3s ease all;
}

.tlcgi-map .tlcgi-map-pins > span:hover:before {
  width: 30px !important;
  height: 53px !important;
}

.tlcgi-ready .tlcgi-map .tlcgi-map-pins > span:before {
  width: 25px;
  height: 44px;
}

.tlcgi-map .tlcgi-name-tag {
  display: block;
  position: absolute;
  z-index: 50;
  top: 0;
  left: 0;
  background: #dfdfdf;
  border: 1px solid #cdcdcd;
  padding: 5px;
  border-radius: 3px;
  font-size: 12px;
  text-transform: uppercase;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  display: none;
}

.tlcgi-content {
  color: #7c7c7c;
}

.tlcgi-content h1, .tlcgi-content h2, .tlcgi-content h3, .tlcgi-content h4, .tlcgi-content h5, .tlcgi-content h6 {
  color: #c03;
  font-weight: 500;
  margin: 0 0 20px 0;
}

.tlcgi-content p {
  font-size: 16px;
  margin: 0 0 15px 0;
  font-weight: 300;
  color: #505c68;
}

.tlcgi-content ul, .tlcgi-content ol {
  font-weight: 300;
  color: #505c68;
  margin-top: 0;
  margin-bottom: 0;
}

.tlcgi-content ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.tlcgi-content ul li {
  position: relative;
  z-index: 1;
  padding-left: 20px;
  margin-bottom: 15px;
}

.tlcgi-content ul li:before {
  content: '»';
  color: #c03;
  position: absolute;
  top: 0;
  left: 0;
  font-size: 21px;
  line-height: 1;
}

.tlcgi-close {
  padding: 0;
  margin: 0;
  border: 0;
  width: 25px;
  height: 25px;
  border: 1px solid #c03;
  color: #c03;
  background: #fff;
  border-radius: 50%;
  -webkit-transition: 0.4s ease all;
  transition: 0.4s ease all;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  cursor: pointer;
  display: none;
}

.tlcgi-close:before {
  content: '-';
  font-size: 20px;
}

.is-closed .tlcgi-close:before {
  content: '+';
}

.tlcgi-close:hover {
  color: #fff;
  background-color: #c03;
}

.tlcgi-map-palette {
  position: absolute;
  left: 0;
  bottom: 0;
  max-width: 350px;
  z-index: 5;
  background: #fff;
  padding: 20px 15px;
  border: 1px solid #dfdfdf;
}

.tlcgi-map-palette .tlcgi-close {
  position: absolute;
  top: 50%;
  right: -10px;
  z-index: 5;
  line-height: 1;
}

.tlcgi-map-palette ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.tlcgi-map-palette ul li {
  font-size: 13px;
  line-height: 1.5;
  position: relative;
  z-index: 1;
  padding-top: 2px;
  padding-left: 35px;
  margin-bottom: 10px;
  min-height: 25px;
}

.tlcgi-map-palette ul li:before {
  display: none;
}

.tlcgi-map-palette ul li:last-child {
  margin-bottom: 0;
}

.tlcgi-map-palette ul li span:first-child {
  display: block;
  width: 25px;
  height: 25px;
  background: #dfdfdf;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
}

.tlcgi-map-palette.is-closed {
  border: none;
}

.tlcgi-map-palette.is-closed ul li {
  margin-bottom: 0;
  padding: 0;
  float: left;
  margin-left: -10px;
}

.tlcgi-map-palette.is-closed ul li span:first-child {
  margin-left: 0;
  position: static;
}

.tlcgi-map-palette.is-closed ul li span:last-child {
  display: none;
}

.tlcgi-child-map .tlcgi-map,
.tlcgi-map-modal .tlcgi-map {
  max-width: 980px;
  margin: 0 auto;
}

.tlcgi-child-map .tlcgi-map svg,
.tlcgi-map-modal .tlcgi-map svg {
  width: 100%;
}

.tlcgi-child-map {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}

.tlcgi-child-map#child-map-europe {
  width: 21%;
  top: 17.9%;
  left: 39.6%;
}

.tlcgi-child-map#child-map-africa {
  width: 23%;
  left: 40%;
  top: 40%;
}

.tlcgi-child-map#child-map-americas {
  width: 46%;
  top: 5%;
  left: 2%;
}

.tlcgi-child-map#child-map-asia {
  width: 54%;
  top: 5%;
  left: 39.8%;
}

.tlcgi-map-modal {
  background: #fff;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow-y: auto;
  z-index: 997;
  visibility: hidden;
}

.tlcgi-transitioning .tlcgi-map-modal {
  overflow-y: hidden;
}

.tlcgi-transitioning .tlcgi-map-modal .tlcgi-map-modal-title,
.tlcgi-transitioning .tlcgi-map-modal .tlcgi-map-modal-desc,
.tlcgi-transitioning .tlcgi-map-modal .tlcgi-map-modal-side,
.tlcgi-transitioning .tlcgi-map-modal .tlcgi-map-modal-close,
.tlcgi-transitioning .tlcgi-map-modal .tlcgi-map-palette,
.tlcgi-transitioning .tlcgi-map-modal .tlcgi-pin-modals,
.tlcgi-transitioning .tlcgi-map-modal .tlcgi-map-pins {
  display: none;
}

.tlcgi-map-modal .tlcgi-map-modal-close {
  margin: 0;
  border: 0;
  background: none;
  border-radius: 20px;
  padding: 7px 26px;
  font-size: 18px;
  color: #313131;
  border: 1px solid #313131;
  position: fixed;
  z-index: 999;
  cursor: pointer;
  top: 20px;
  right: 40px;
  -webkit-transition: 0.4s ease all;
  transition: 0.4s ease all;
}

.tlcgi-map-modal .tlcgi-map-modal-close:hover {
  color: #c03;
  border-color: #c03;
  margin-bottom: 10px;
}

.tlcgi-map-modal .tlcgi-map-modal-wrap {
  max-width: 980px;
  margin: 0 auto;
}

.tlcgi-map-modal .tlcgi-map-modal-side .tlcgi-map-modal-side-content {
  padding: 45px 30px;
}

.tlcgi-map-modal .tlcgi-map-modal-side .tlcgi-map-modal-side-content h2 {
  font-size: 32px;
}

.tlcgi-map-modal .tlcgi-map-modal-side .tlcgi-map-modal-side-content ul li {
  margin-bottom: 25px;
}

.tlcgi-map-modal .tlcgi-map-modal-title {
  color: #c03;
  text-align: center;
  font-size: 2.5rem;
  margin: 35px 0 0;
}

.tlcgi-map-modal .tlcgi-map-modal-desc {
  text-align: center;
}

.tlcgi-map-modal .tlcgi-map .tlcgi-map-palette {
  bottom: 10%;
  left: 30px;
  z-index: 25;
}

.tlcgi-map-modal#map-modal-europe .tlcgi-map .tlcgi-map-palette {
  bottom: auto;
  top: 0;
  left: 0;
}

.tlcgi-pin-modals {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 15px;
  overflow: hidden;
  opacity: 0;
  visibility: hidden;
  z-index: 999;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.tlcgi-pin-modals.show {
  opacity: 1;
  visibility: visible;
  z-index: 40;
}

.tlcgi-pin-modals .tlcgi-pin-modal {
  width: 480px;
  max-width: 100%;
  background: #fff;
  position: absolute;
  top: calc(10% - 50px);
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  -webkit-box-shadow: 0px 5px 6px rgba(70, 70, 70, 0.24);
          box-shadow: 0px 5px 6px rgba(70, 70, 70, 0.24);
  z-index: 10;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.4s ease all;
  transition: 0.4s ease all;
  border: 1px solid #e2e2e2;
}

.tlcgi-pin-modals .tlcgi-pin-modal.active {
  top: 10%;
  opacity: 1;
  visibility: visible;
}

.tlcgi-pin-modals .tlcgi-pin-modal .tlcgi-pin-modal-close {
  background: none;
  border: 0;
  padding: 0;
  margin: 0;
  outline: none;
  padding: 5px;
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 40px;
  font-size: 25px;
  color: #dfdfdf;
  cursor: pointer;
}

.tlcgi-pin-modals .tlcgi-pin-modal .tlcgi-pin-modal-close:hover {
  color: #c03;
}

.tlcgi-pin-modals .tlcgi-pin-modal .tlcgi-pin-modal-head {
  padding: 10px 20px;
  border-bottom: 1px solid #e2e2e2;
}

.tlcgi-pin-modals .tlcgi-pin-modal .tlcgi-pin-modal-head h3 {
  font-size: 18px;
  color: #313131;
  margin: 0;
}

.tlcgi-pin-modals .tlcgi-pin-modal .tlcgi-pin-modal-body {
  padding: 15px 20px;
  max-height: 320px;
  overflow-y: auto;
}

.tlcgi-pin-modals .tlcgi-pin-modal .tlcgi-pin-modal-body .tlcgi-content h4 {
  margin-bottom: 5px;
}

@media screen and (max-width: 991px) {
  .tlcgi-columns {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
  }
  .tlcgi-columns > .tlcgi-column {
    width: 100% !important;
  }
  .tlcgi-map-modal .tlcgi-map-modal-title {
    font-size: 2rem;
    margin-top: 25px;
    margin-bottom: 10px;
  }
  .tlcgi-map-modal .tlcgi-map-modal-close {
    padding: 6px 23px;
    font-size: 14px;
    top: 10px;
    right: 20px;
  }
  .tlcgi-pin-modals {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .tlcgi .tlcgi-global-map {
    margin-bottom: 25px;
  }
  .tlcgi-map .tlcgi-map-pins > span:hover:before {
    width: 25px !important;
    height: 44px !important;
  }
  .tlcgi-ready .tlcgi-map .tlcgi-map-pins > span:before {
    width: 17px;
    height: 30px;
  }
  .tlcgi-map-palette {
    padding: 15px 15px;
    position: static !important;
    margin: 0 auto;
    -webkit-transform: none !important;
            transform: none !important;
  }
  .tlcgi-map-palette ul li {
    padding-top: 0px;
    padding-left: 29px;
  }
  .tlcgi-map-palette ul li span:first-child {
    width: 20px;
    height: 20px;
  }
}
/*# sourceMappingURL=style.css.map */