@font-face {
    font-family: 'Akko Rounded Pro';
    src: url('AkkoRoundedPro-Thin.woff2') format('woff2'),
        url('AkkoRoundedPro-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Akko Rounded Pro';
    src: url('AkkoRoundedPro-Light.woff2') format('woff2'),
        url('AkkoRoundedPro-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Akko Rounded Pro';
    src: url('AkkoRoundedPro-ThinItalic.woff2') format('woff2'),
        url('AkkoRoundedPro-ThinItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Akko Rounded Pro';
    src: url('AkkoRoundedPro-Italic.woff2') format('woff2'),
        url('AkkoRoundedPro-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Akko Rounded Pro';
    src: url('AkkoRoundedPro-LightItalic.woff2') format('woff2'),
        url('AkkoRoundedPro-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Akko Rounded Pro';
    src: url('AkkoRoundedPro-MediumItalic.woff2') format('woff2'),
        url('AkkoRoundedPro-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Akko Rounded Pro';
    src: url('AkkoRoundedPro-BoldItalic.woff2') format('woff2'),
        url('AkkoRoundedPro-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Akko Rounded Pro';
    src: url('AkkoRoundedPro-Regular.woff2') format('woff2'),
        url('AkkoRoundedPro-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Akko Rounded Pro';
    src: url('AkkoRoundedPro-BlackItalic.woff2') format('woff2'),
        url('AkkoRoundedPro-BlackItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Akko Rounded Pro';
    src: url('AkkoRoundedPro-Bold.woff2') format('woff2'),
        url('AkkoRoundedPro-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Akko Rounded Pro';
    src: url('AkkoRoundedPro-Black.woff2') format('woff2'),
        url('AkkoRoundedPro-Black.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Akko Rounded Pro';
    src: url('AkkoRoundedPro-Medium.woff2') format('woff2'),
        url('AkkoRoundedPro-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

